@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

body {
    background-color: #fecaca ;
}

a {
    text-decoration: none;
}

header {
    padding: 1rem;
    background-color: #ef4444;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header h1 {
    text-align: initial;
    color: white;
}

nav {
    text-align: right;
    color: #fff;
    background-color: #ef4444;
    padding: 4rem 3rem 1rem 3rem;
    
}

nav>a {
    padding: 0 0.5rem;
    color: #fff;
}


main {
    margin: 0 0 7rem;
}

main h1 {
    margin: 1rem;
}

.input-label {
    font-size: larger;
    color:black;
    width: 256px;
}

.input-label p {
    font-size: larger;
    margin: 0.5rem;
}

.input-text {
    font-size: 14px;
    padding: 0.6rem 1rem;
    margin: 1rem;
    border: 2px solid #FFFFFF;
    background-color: #ef4444;
    color: #FFFFFF;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 258px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#check-area { 
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    border-radius: 1rem;
    margin-bottom: 1rem;

}

#output {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.footer-text {
    margin: 1rem;
}

.footer-text a {
    text-decoration: none;
    /* background-color: #00546c; */
    padding: 3px;
    border-radius: 5px;
    border: 2px solid #ff5200;
    color: #00546c;
}

.footer-text a:hover {
    background-color: black;
    color: white;
    border: 2px solid #FFFFFF;
}

.active {
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #FFFFFF;
}

@media screen and (max-width: 600px) {
    html {
        font-size: 45%;
    }

    nav {
        text-align: center;
        padding: 5px;
        color: #fff;
        font-size: 1.25rem;
    }

    header h1 {
        text-align: center;
        color: #ff5200;
        font-size: 4rem;
    }

    .input-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

}
#socials {
    display: flex;
    flex-direction : row;
    justify-content : space-between;
    width: 10%;
    margin-left: auto;
    margin-right:auto;
    
   
  }
  footer {
    padding-top: 2rem;
    bottom: 0;
    /* position: absolute;
    width: 100%; */
    left: 0;
    
  }
  .container { 
    padding-bottom: 10rem;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
  }